
<mat-toolbar>
  <!-- <button mat-menu-item [routerLink]="['login']"></button> -->
  
  <button id="menu-button" [matMenuTriggerFor]="menu"></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['']">
      <span>Home</span>
    </button>
    <button mat-menu-item [routerLink]="['boards']">
      <span>Boards</span>
    </button>
    <button>
      <span>Logout</span>
    </button>
  </mat-menu>
  <span>Task Manager</span>
  <span class="toolbar__spacer"></span>
</mat-toolbar>

<div class="app-container">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>