<div class="board">
  <button class="buttons" mat-raised-button color="primary" (click)="addTabelles()">Add Board</button>
  <div *ngFor="let board of tabelless" class="board-class">
    <div *ngIf="board.editing">
      <input class="text-input-field" matInput placeholder="Board Name" [(ngModel)]="board.name">
      <button class="buttons" mat-raised-button color="primary" (click)="confirmBoardName(board)">Confirm</button>
    </div>
    <div class="board-name" *ngIf="!board.editing">{{ board.name }}</div>
  </div>
</div>
